{% extends '/layout.html' %}
{% block title %}Inicio{% endblock %}

{% block body %}
<h1 data-bs-theme="dark">Aplicación final proyecto flask.</h1>
<p class="lead">Bienvenido a la app de gestión académica.</p>
<p class="lead">Aquí podrás consultar y agregar los programas, y estudiantes que ofrece nuestra institución.</p>
<p class="lead">También podrás ver las notas de los estudiantes en cada curso y el promedio general de cada estudiante.</p>
<p class="lead">Se usaron propiedades hybridas en los modelos para evitar usar joins al consultar la información.</p>
<p class="lead">Esperamos que disfrutes de nuestra app.</p>
<p class="text-mute">Por tiempo queda pendiente crear cursos y añadir las relaciones entre ellos, los programas y estudiantes.</p>
{% endblock %}